@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">Book Lister (Razor Pages)</h1>
</div>

<h2>What is this site?</h2>
<p>This site is the result of learning how to use Razor pages to do basic CRUD functionality. Click the "Book list" nav option to see and interact with the book lister.</p>

<h3>lorem ipsum</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque viverra. Nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum. Est ullamcorper eget nulla facilisi etiam. Mollis aliquam ut porttitor leo. Euismod quis viverra nibh cras pulvinar. Et ultrices neque ornare aenean euismod. Ornare arcu odio ut sem nulla. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Nisl pretium fusce id velit ut tortor. Tellus cras adipiscing enim eu turpis egestas. Pellentesque diam volutpat commodo sed egestas egestas fringilla. Lacus vestibulum sed arcu non odio euismod lacinia at quis. Quis vel eros donec ac odio tempor orci dapibus ultrices. Porttitor rhoncus dolor purus non enim praesent elementum facilisis. Nulla facilisi nullam vehicula ipsum a.
</p>

<p>Lacus sed turpis tincidunt id. Rutrum quisque non tellus orci ac auctor augue mauris. Lorem mollis aliquam ut porttitor leo a diam. Odio morbi quis commodo odio aenean sed adipiscing diam donec. Odio ut enim blandit volutpat maecenas volutpat blandit. Mauris pharetra et ultrices neque. Fringilla urna porttitor rhoncus dolor purus non enim praesent. Nibh tortor id aliquet lectus proin nibh. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Duis at consectetur lorem donec massa sapien faucibus et. Vel eros donec ac odio tempor. Ac tortor vitae purus faucibus ornare suspendisse.</p>
<p>Lacus sed turpis tincidunt id. Rutrum quisque non tellus orci ac auctor augue mauris. Lorem mollis aliquam ut porttitor leo a diam. Odio morbi quis commodo odio aenean sed adipiscing diam donec. Odio ut enim blandit volutpat maecenas volutpat blandit. Mauris pharetra et ultrices neque. Fringilla urna porttitor rhoncus dolor purus non enim praesent. Nibh tortor id aliquet lectus proin nibh. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Duis at consectetur lorem donec massa sapien faucibus et. Vel eros donec ac odio tempor. Ac tortor vitae purus faucibus ornare suspendisse.</p>
<p>Sagittis orci a scelerisque purus semper eget. Congue nisi vitae suscipit tellus mauris a. Ultrices in iaculis nunc sed augue lacus viverra. Nunc sed augue lacus viverra vitae congue. Risus quis varius quam quisque id diam vel quam elementum. Eget nullam non nisi est sit amet facilisis magna. Dignissim sodales ut eu sem integer. Pellentesque habitant morbi tristique senectus et netus. Ut diam quam nulla porttitor massa id neque aliquam vestibulum. Mattis ullamcorper velit sed ullamcorper morbi. Massa sed elementum tempus egestas sed. At varius vel pharetra vel turpis nunc. Netus et malesuada fames ac turpis egestas integer eget. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Tempus urna et pharetra pharetra massa massa ultricies mi quis. Sapien eget mi proin sed libero enim sed faucibus. Luctus accumsan tortor posuere ac ut consequat semper viverra..</p>
<p>Lacus sed turpis tincidunt id. Rutrum quisque non tellus orci ac auctor augue mauris. Lorem mollis aliquam ut porttitor leo a diam. Odio morbi quis commodo odio aenean sed adipiscing diam donec. Odio ut enim blandit volutpat maecenas volutpat blandit. Mauris pharetra et ultrices neque. Fringilla urna porttitor rhoncus dolor purus non enim praesent. Nibh tortor id aliquet lectus proin nibh. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Duis at consectetur lorem donec massa sapien faucibus et. Vel eros donec ac odio tempor. Ac tortor vitae purus faucibus ornare suspendisse.</p>
