@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Basic book list app, using MVC</h1>
        <p>A simple learning project to familiarise myself with MVC in ASP.NET Core, and Entity Framework Core</p>
    </div>
</div>

<p>Click "Books" above to attempt loading the index page for the book list demonstration project.</p>
